<div *ngIf="builderData">
  <a id="landingLink" routerLink="/landing/{{builderId}}"> This link can direct to your resturant landing page</a>
  <app-head *ngIf=ifHeadShow()&&!editModel [sectionData]="builderData.head"></app-head>
  <app-head-edit (onSubmitEvent)="headOnSave($event)" *ngIf="editModel"
                 [sectionData]="builderData.head"></app-head-edit>
  <app-gallery-edit (onSubmitEvent)="galleryOnSave($event)" *ngIf="editModel"
                    [sectionData]="builderData.gallery"></app-gallery-edit>
  <app-gallery *ngIf="!editModel&&ifGalleryShow()" [galleryData]="builderData.gallery"></app-gallery>

  <app-menu *ngIf="!editModel&&ifMenuShow()" [menu]="builderData.menu"></app-menu>
  <app-menu-edit (onSubmitEvent)="menuOnSave($event)" *ngIf="editModel"
                 [sectionData]="builderData?.menu"></app-menu-edit>

  <mat-slide-toggle (change)="toggleViewModel()" class="toggle-btn">
    {{toggleText}}
  </mat-slide-toggle>
  <ng-template #previewText>
    <span class="text">Preview</span>
  </ng-template>
</div>

