<!-- Login form content -->
<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="box-content">
              <h3 class="text-center">Change Password</h3>
              <br>

              <form class="logregform" [formGroup]="form" (ngSubmit)="changePassword()">
                <div class="row">
                  <div class="form-group">

                    <!-- register error msg -->
                    <div *ngIf="response">
                      <div class="alert alert-danger">
                        Password doesn't match with record, please check your current password again.
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label>Current Password</label>
                      <input type="password" class="form-control"
                             formControlName="oldPass">
                      <!-- err msg for email-->
                      <div *ngIf="(form.controls['oldPass'].dirty || form.controls['oldPass'].touched) && form.controls['oldPass'].invalid"
                           class="alert alert-danger">
                        <div *ngIf="form.get('oldPass').getError('required')">
                          Current password is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <a class="pull-right" href="./index.html">(Lost Password?)</a>
                      <label>New Password</label>
                      <input type="password" class="form-control" formControlName="newPass">
                      <!-- err msg for password-->
                      <div *ngIf="(form.controls['newPass'].dirty || form.controls['newPass'].touched) && form.controls['newPass'].invalid"
                           class="alert alert-danger">
                        <div *ngIf="form.get('newPass').getError('required')">
                          New password is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Re-enter Password</label>
                      <input type="password" class="form-control" formControlName="repassword">
                      <!-- err msg for password-->
                      <div
                        *ngIf="(form.controls['repassword'].dirty || form.controls['repassword'].touched) && form.controls['repassword'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('repassword').getError('required')">
                          Password confirm is required.
                        </div>
                        <div *ngIf="form.get('repassword').getError('passwordConfirming')">
                          Password and password confirm have to be matched.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" [disabled]="!form.valid" class="btn btn-default pull-right">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
