<nav class="nav-bar navbar-fixed-top" id="nav-bar-wrap">
    <div class="nav-mask"></div>
    <div class="container">
        <a class="navbar-brand" routerLink="">
            <img src="assets/images/home/nav-logo.png" alt="nav-logo">
        </a>
        <div id="navbar">
            <div class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                                     class="link">Home</a></div>
            <div class="nav-item"><a routerLink="/login" routerLinkActive="active" class="link">Login</a></div>
            <div class="nav-item"><a routerLink="/register" routerLinkActive="active" class="link">Register</a></div>
            <div class="nav-item"><a routerLink="/forgot" routerLinkActive="active" class="link">Forgot</a></div>
            <div class="nav-item"><a routerLink="/reset" routerLinkActive="active" class="link">Rest</a></div>
            <div class="nav-item"><a routerLink="/profile" routerLinkActive="active" class="link">Profile</a></div>
        </div>
    </div>
</nav>

<app-progress-bar *ngIf="showProgress"></app-progress-bar>
