#footer {
  position: absolute;
  bottom: 0;
  font-family: Josefin Sans;
  width: 100%;
  color: #fff;
  .footer-copyrights {
    text-align: center;
    background-color: #1c1c1e;
    p {
      margin: 30px 0;
      color: #b5b5b4;
      font-size: 16px;
    }
  }
  .primary-color {
    color: #f9c56a;
  }
}
