.text-giant {
  font-size: 180px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.btn-default {
  color: #333;
  background-color: #f9c56a;
}

.btn-lg {
  font-weight: 700;
  padding: 15px 40px;
}


#page-not-found {
  a {
    color: #333;
  }
}

.top-space-lg {
  margin-top: 40px;
}

.giant-space {
  margin: 100px 0;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #828281;
  font-size: 22px;
}
