<br>
<div class="profileContainer">
  <img src="https://res.cloudinary.com/dx55oi3py/image/upload/v1564097947/images/photo_dsxha7.png" alt="">
  <h3><strong class="firstName">{{user.firstName}}</strong> <strong>{{user.lastName}}</strong></h3>
  <p class="lead"></p>
  <hr class="my-4">

  <h6>Address: {{user.address}}</h6>
  <br>
  <h6>Phone: {{user.phone}}</h6>
  <br>
  <div class="description">
    <p>{{user.description}}</p>
  </div>
  <a class="btn btn-default form-control text-center"
  href="/profile/edit">Edit</a>
</div>
<br>
