.profileContainer {
  margin: auto;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #424242;
  width: 60%;
  text-align: center;
}

h3, h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  margin: auto;
}

.description {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.firstName {
  color: #ff9800;
  margin-right: 10px;
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}
