<!-- Login form content -->
<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="box-content">
              <h3 class="text-center">Profile Update</h3>
              <br>

              <form *ngIf="form" class="logregform" [formGroup]="form" (ngSubmit)="profileSubmit()">
                <div class="row">
                  <div class="form-group">
                    <!-- first name-->
                    <div class="col-12">
                      <label>First Name</label>
                      <input type="text" class="form-control"
                             formControlName="firstName">
                      <!-- err msg for firstname-->
                      <div
                        *ngIf="(form.get('firstName').dirty || form.get('firstName').touched) && form.get('firstName').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('firstName').getError('required')">
                          First name is required.
                        </div>
                        <div *ngIf="form.get('firstName').getError('minlength') ||
                      form.get('firstName').getError('minlength')">
                          Fist name's length must between 2 - 20.
                        </div>
                      </div>
                    </div>

                    <!-- last name -->
                    <div class="col-12">
                      <label>Last Name</label>
                      <input type="text" class="form-control"
                             formControlName="lastName">
                      <!-- err msg for lastname-->
                      <div
                        *ngIf="(form.get('lastName').dirty || form.get('lastName').touched) && form.get('lastName').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('lastName').getError('required')">
                          Last name is required.
                        </div>
                        <div *ngIf="form.get('lastName').getError('maxlength') ||
                      form.get('lastName').getError('minlength')">
                          Last name's length must between 2 - 20.
                        </div>
                      </div>
                    </div>

                    <!-- address -->
                    <div class="col-12">
                      <label>Address</label>
                      <input type="text" class="form-control"
                             formControlName="address">
                      <div
                        *ngIf="(form.get('address').dirty || form.get('address').touched) && form.get('address').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('address').getError('maxlength') ||
                      form.get('address').getError('minlength')">
                          Address' length must between 3 - 40.
                        </div>
                      </div>
                    </div>

                    <!-- phone -->
                    <div class="col-12">
                      <label>Phone</label>
                      <input type="number" class="form-control" digitOnly
                             formControlName="phone">
                      <div
                        *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('phone').getError('maxlength') ||
                      form.get('phone').getError('minlength')">
                          Phone number must between 7 - 12.
                        </div>
                      </div>
                    </div>

<!--                    TODO: add number validator -->

                    <!-- description -->
                    <div class="col-12">
                      <label>Description</label>
                      <textarea type="text" class="form-control"
                                formControlName="description"></textarea>
                      <div
                        *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('phone').getError('maxlength') ||
                      form.get('phone').getError('minlength')">
                          Phone number must between 7 - 12.
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="space20"></div>
                    <button type="submit" [disabled]="!form.valid" class="btn btn-default pull-right">Update Profile
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
