<nav class="nav-bar navbar-fixed-top" id="nav-bar-wrap">
  <div class="nav-mask"></div>
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="assets/images/home/nav-logo.png" alt="nav-logo">
    </a>
    <div id="navbar">
      <div class="nav-item"><a class="link" routerLink="/">Home</a></div>
      <div class="nav-item"><a class="link" routerLink="/login">Login</a></div>
      <div class="nav-item"><a class="link" routerLink="/signup">Register</a>
      </div>
      <div class="nav-item"><a class="link">Forgot</a></div>
      <div class="nav-item"><a class="/test">Rest</a></div>
    </div>
  </div>
</nav>
