<nav class="nav-bar navbar-fixed-top" id="nav-bar-wrap">
  <div class="nav-mask"></div>
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="assets/images/home/nav-logo.png" alt="nav-logo">
    </a>
    <div id="navbar">
      <div class="nav-item"><a class="link">Home</a></div>
      <div class="nav-item"><a class="link">Login</a></div>
      <div class="nav-item"><a class="link">Register</a>
      </div>
      <div class="nav-item"><a class="link">Forgot</a></div>
      <div class="nav-item"><a class="link">Rest</a></div>
    </div>
  </div>
</nav>
