<section class="head" [ngStyle]="{'background-image': 'url('+backgroundSet+')'}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <div style="text-align: center">
          <br>
          <br>
          <br>
          <div class="logo" style="opacity: 1;">
            <img *ngIf="sectionData.imgUrl" src="{{sectionData.imgUrl}}"
                 alt="logo"><a href="{{sectionData.imgUrl}}"></a>
          </div>
          <h1 class="visible" style="color: white; font-size: 60px">{{sectionData.title}}</h1>
          <h2 class="visible"
              style="font-weight:normal;color:#dddddd;text-transform: inherit;margin-bottom: 70px">{{sectionData.description}}</h2>
          <div class="visible scroll-down" style="margin-bottom: 40px">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <i (click)="scrollDown()" class="material-icons" style="background: none; border: none">
              keyboard_arrow_down
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
