<section class="shop-content gallery_edit_section">
  <div class="container">
    <div class="box-content">
      <h3 class="text-center">Edit Menu Content</h3>
      <form [formGroup]="menuForm" class="general_form">
        <!--  title, description  -->
        <div class="example-class">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <hr>
          <!--  add item button -->
          <div class="btn-wrap text-center col-12">
            <button (click)="addItem($event)" class="btn btn-primary">
              Add Item
            </button>
          </div>
        </div>

        <!--  item  -->
        <div class="row example-class" formArrayName="menuItems">
          <div *ngFor="let item of itemArray.controls; let i = index"
               class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div [formGroupName]="i" class="form-group-custom-outer">
              <mat-form-field appearance="outline">
                <mat-label>Item Name</mat-label>
                <input formControlName="name" matInput required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Item Price</mat-label>
                <input type="number" formControlName="price" matInput required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Item Description</mat-label>
                <textarea formControlName="description" matInput required></textarea>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Item Category</mat-label>
                <select formControlName="category" matNativeControl required>-->
                  <option *ngFor="let cate of categoryData"
                          [ngValue]="cate">{{cate}}</option>
                </select>
              </mat-form-field>
              <!--  remove item button  -->
              <div class="btn-wrap text-center">
                <button (click)="removeItem($event, i)" class="btn btn-warning">
                  Remove Item
                </button>
              </div>
              <hr>
            </div>
          </div>
          <!--  submit bt   -->
          <div class="btn-wrap text-center row">
            <button [disabled]="!menuForm.valid" class="btn btn-success pull-right" (click)="submit($event)">
              Save Menu
            </button>
          </div>
          <br>
        </div>
      </form>
    </div>
  </div>
</section>
