h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4b4741;
  text-align: center;
  font-weight: 800;
}

.small,
small {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  display: block !important;
  text-transform: none;
  text-align: center;
  margin: 10px 0px 15px 0px;
}

.white {
  color: #ffffff;
}

.white .small,
.white small {
  color: #eee;
}

.black {
  color: #4b4741;
}

.page-header {
  border: none;
  margin: 80px 0 40px;
}

.page-header:after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: #f9c56a;
  margin: 0px auto;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #828281;
  font-size: 22px;
}

a,
a:hover {
  text-decoration: none;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.primary-color {
  color: #f9c56a;
}


/* Vertical Rhythm */

.vertical-space {
  margin: 20px 0;
}

.horizontal-space {
  margin: 0 20px;
}

.left-space {
  margin-left: 20px;
}

.right-space {
  margin-right: 20px;
}

.top-space {
  margin-top: 20px;
}

.bottom-space {
  margin-bottom: 20px;
}

.no-top-space {
  margin-top: 0;
}

.no-bottom-space {
  margin-bottom: 0;
}

.no-left-space {
  margin-left: 0;
}

.no-right-space {
  margin-right: 0;
}


/* lg - large */

.vertical-space-lg {
  margin: 40px 0;
}

.horizontal-space-lg {
  margin: 0 40px;
}

.left-space-lg {
  margin-left: 40px;
}

.right-space-lg {
  margin-right: 40px;
}

.top-space-lg {
  margin-top: 40px;
}

.bottom-space-lg {
  margin-bottom: 40px;
}


/* xl - Extra large */

.vertical-space-xl {
  margin: 80px 0;
}

.horizontal-space-xl {
  margin: 0 80px;
}

.left-space-xl {
  margin-left: 80px;
}

.right-space-xl {
  margin-right: 80px;
}

.top-space-xl {
  margin-top: 80px;
}

.bottom-space-xl {
  margin-bottom: 80px;
}


/* sm - small */

.vertical-space-sm {
  margin: 10px 0;
}

.horizontal-space-sm {
  margin: 0 10px;
}

.left-space-sm {
  margin-left: 10px;
}

.right-space-sm {
  margin-right: 10px;
}

.top-space-sm {
  margin-top: 10px;
}

.bottom-space-sm {
  margin-bottom: 10px;
}


/*padding*/

.vertical-padding {
  padding: 50px 0!important;
}


/*giant*/

.giant-space {
  margin: 100px 0;
}

.text-giant {
  font-size: 150px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}


/* ================================================
   Forms & Buttons
   ================================================ */

.form-group {
  font-family: "Josefin Sans", sans-serif;

}

.form-group label {
  font-size: 18px;
  font-weight: 400;
}

.form-group input,
.form-group textarea {
  border-radius: 0px;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #f3f1ed;
  padding: 10px 15px;
}

.btn {
  border-radius: 0px;
  border: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 15px;
}

.btn-default {
  background-color: #f9c56a;
}

.btn-default:hover {
  background-color: #f7b239;
}

.btn-secondary {
  background-color: #e9e5dd;
  color: #8c8881;
  border: 1px solid #e9e5dd;
}

.btn-secondary:hover {
  background-color: #d5cdbe;
  border: 1px solid #e9e5dd;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-color: #f7b239;
  border-color: #f7b239;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #f7b239;
}

.btn-lg {
  font-weight: 700;
  padding: 15px 40px;
}


.logregform {
  border: 1px solid #e2e2e2;
  padding: 50px;

}

.centerBox {
  width:380px;
  padding: 30px;
  border: 1px solid #e2e2e2;
  margin: 10px auto 10px auto;
}



