<div class="col-md-6">
 <div class="box-content">
    <h3 class="text-center">Forgot your password?</h3>
    <br>
    <form class="centerBox">
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <p style="font-size:80%">Please enter the email address that you used to register</p>
            <br>
            <label>E-mail Address </label>
            <br>
            <input type="text" value="" class="form-control" style="width: 300px" >
            <br><br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="space20"></div>
          <button type="submit" class="btn btn-default pull-right" style="float: right">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
