<!-- menu-->
<section class="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header wow fadeInDown">
          <h1>{{menuData.dynamicMenuTittle}}
            <br>
            <small>{{menuData.dynamicMenuShortDescription}}</small>
          </h1>
        </div>
      </div>
    </div>
    <div class="food-menu wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <div class="menu-tags">
            <span data-filter="*" class="tagsort-active"
                  [ngClass]="{'tagsort-active':showAllMenuItem}"
                  (click)="showAllMenuItemTrigger()">All</span>
            <span *ngFor="let cate of menuData.dynamicMenu; let ind = index"
                  class="tagsort-active"
                  [ngClass]="{'tagsort-active':categoryActive[ind]}"
                  (click)="changeActiveMenuWithTag(cate.categoryName)">{{cate.categoryName}}</span>
          </div>
        </div>
      </div>

      <!--    For all cuisine   -->
      <div *ngIf="showAllMenuItem" class="row menu-items">
        <div *ngFor="let menu of allItem">
          <div class="menu-item col-sm-6 col-xs-12">
            <!--   for each item -->
            <div class="clearfix menu-wrapper">
              <h4>{{menu.name}}</h4>
              <span class="price">${{menu.price}}</span>
              <div class="dotted-bg"></div>
            </div>
            <p>{{menu.description}}</p>
          </div>
        </div>
      </div>

      <!--      For each category     -->
      <div *ngIf="!showAllMenuItem" class="row menu-items">
        <div *ngFor="let cate of menuData.dynamicMenu; let ind = index">
          <div *ngIf="categoryActive[ind]">
            <div *ngFor="let menu of cate.menuItem">
              <div class="menu-item col-sm-6 col-xs-12">

                <!--  for each item -->
                <div class="clearfix menu-wrapper">
                  <h4>{{menu.name}}</h4>
                  <span class="price">${{menu.price}}</span>
                  <div class="dotted-bg"></div>
                </div>
                <p>{{menu.description}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
