.gallery {
  padding: 70px;
  background-size: cover;
}

hr {
  border: 1.5px solid #f9c56a;
  width: 120px;
}

img {
  width: 350px;
  transition: all 0.5s;
}

.gallery-content {
  width: 30%;
  display: inline-table;
  margin: 15px;
  background-color: white;
  padding: initial;
  position: relative;
  overflow: hidden;

}

.gallery-content:hover img {
  transform: scale(1.1);
}

.container {
  max-width: 1180px;
}

.page-header {

}
