<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row shop-login justify-content-center">
          <div class="col-md-6">
            <div class="box-content">
              <h3 class="text-center">Change Password</h3>
              <br>
              <form [formGroup]="changePassword" class="logregform">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Current Password</label>
                      <input class="form-control" formControlName="currentPassword" type="password">
                      <div
                        *ngIf="changePassword.get('currentPassword').touched && changePassword.get('currentPassword').hasError('required')"
                        class="alert alert-danger"
                        role="alert">
                        This field is required.
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>New Password</label>
                      <input class="form-control" formControlName="newPassword" type="password">
                      <div
                        *ngIf="changePassword.get('newPassword').touched && changePassword.get('newPassword').hasError('required')"
                        class="alert alert-danger"
                        role="alert">
                        This field is required.
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Re-type New Password</label>
                      <input class="form-control" formControlName="confirmNew" type="password">
                      <div
                        *ngIf="changePassword.get('confirmNew').touched && changePassword.get('confirmNew').hasError('required')"
                        class="alert alert-danger"
                        role="alert">
                        This field is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="changePassword.hasError('passwordConfirm')" class="alert alert-danger"
                     role="alert">
                  Password doesn't match, please check
                </div>
                <div
                  *ngIf="!changePassword.get('newPassword').hasError('required')&&!changePassword.get('confirmNew').hasError('required')">
                  <div
                    *ngIf="changePassword.get('newPassword').hasError('minlength') || changePassword.get('confirmNew').hasError('minlength')"
                    class="alert alert-danger"
                    role="alert">
                    {{"Password must be at least " + MIN_PSWD_LENGTH + " characters."}}
                  </div>
                </div>
                <button (click)="save()" class="btn btn-default pull-right">Save</button>
                <br><br>
                <div *ngIf="response"
                     [ngClass]="{'alert-warning': !response.success, 'alert-success': response.success}" class="alert "
                     role="alert">>
                  {{response.message}}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
