<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row shop-login justify-content-center">
          <div class="col-md-6">
            <div class="box-content">
              <h3 class="text-center">Register An Account</h3>
              <br>
              <div *ngIf="response" [ngClass]="{'alert-warning': !response.success, 'alert-success': response.success}"
                   class="alert " role="alert">>
                {{response.message}}
              </div>
              <form [formGroup]="registerForm" class="logregform">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>E-mail Address</label>
                      <input class="form-control" formControlName="username" type="text">
                      <div
                        *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')"
                        class="alert alert-danger"
                        role="alert">
                        This field is required.
                      </div>
                      <div
                        *ngIf="registerForm.get('username').touched && !registerForm.get('username').hasError('required') &&registerForm.get('username').errors?.email"
                        class="alert alert-warning"
                        role="alert">
                        Please check format, example@email.com
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix space20"></div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Password *</label>
                      <input class="form-control" formControlName="password" type="password">
                      <div
                        *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')"
                        class="alert alert-danger"
                        role="alert">
                        * Required
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Re-enter Password *</label>
                      <input class="form-control" formControlName="passwordConfirm"
                             type="password">
                      <div
                        *ngIf="registerForm.get('passwordConfirm').touched && registerForm.get('passwordConfirm').hasError('required')"
                        class="alert alert-danger"
                        role="alert">
                        * Required
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="registerForm.hasError('passwordConfirm')" class="alert alert-danger"
                     role="alert">
                  Password doesn't match, please check
                </div>
                <div
                  *ngIf="!registerForm.get('password').hasError('required')&&!registerForm.get('passwordConfirm').hasError('required')">
                  <div *ngIf="registerForm.get('password').hasError('minlength') || registerForm.get('password').hasError('maxlength')
                                        || registerForm.get('passwordConfirm').hasError('minlength') || registerForm.get('passwordConfirm').hasError('maxlength')"
                       class="alert alert-danger"
                       role="alert">
                    {{"Password has to be length of " + MIN_PSWD_LENGTH + "~" + MAX_PSWD_LENGTH + " characters"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="space20"></div>
                    <button (click)="register()" [disabled]="!registerForm.valid" class="btn btn-default pull-right">
                      Register
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
