<!-- Register form content -->
<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="box-content">
              <h3 class="text-center">Register An Account</h3>
              <br>

              <form class="logregform" [formGroup]="f" (ngSubmit)="regiSubmit()">
                <div class="row">
                  <div class="form-group">

                    <!-- register error msg -->
                    <div *ngIf="response">
                      <div class="alert alert-danger" *ngIf="!response.success">
                        This username is already exist.
                      </div>
                      <div class="alert alert-success" *ngIf="response.success">
                        Register succeed, please go confirm your email address.
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label>E-mail Address</label>
                      <input type="text" id="email" name="email"
                             class="form-control" formControlName="email">
                      <!-- err msg for email-->
                      <div
                        *ngIf="(f.controls['email'].dirty || f.controls['email'].touched) && f.controls['email'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.get('email').getError('required')">
                          Email address is required.
                        </div>
                        <div *ngIf="f.get('email').getError('email')">
                          Email must be a valid email address.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label>Password</label>
                      <input type="password" class="form-control" formControlName="password">
                      <!-- err msg for password-->
                      <div
                        *ngIf="(f.controls['password'].dirty || f.controls['password'].touched) && f.controls['password'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.get('password').getError('required')">
                          Password is required.
                        </div>
                        <div *ngIf="f.get('password').getError('maxlength')||f.get('password').getError('minlength')">
                          Password must between 5 - 20 characters.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label>Re-enter Password</label>
                      <input type="password" class="form-control" formControlName="repassword">
                      <!-- err msg for password-->
                      <div
                        *ngIf="(f.controls['repassword'].dirty || f.controls['repassword'].touched) && f.controls['repassword'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.get('repassword').getError('required')">
                          Password confirm is required.
                        </div>
                        <div *ngIf="f.get('repassword').getError('passwordConfirming')">
                          Password and password confirm have to be matched.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="space20"></div>
                    <button class="btn btn-default left" routerLink="/login" routerLinkActive="active">Login</button>
                    <button type="submit" [disabled]="!f.status" class="btn btn-default pull-right">Register</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
