<div class="page"><br>
  <br>
  <div class="container">

    <div class="description">
      <div class="headLine">
        <h1 id="headLineLeft"> Restaurant </h1>
        <h1 id="HeadLineRight"> Builder </h1>
      </div>
      <br>
      <p>Here is your restaurant builder,
        and you can access your restaurant page or edit it in profile!</p>
      <br><br><br>
      <button id="profileBt" routerLink="/profile"><h3>CHECK PROFILE <i class="fa fa-angle-right fa-lg"
                                                                        aria-hidden="true"></i></h3></button>
    </div>
    <img alt="display cooking img" src="../../../assets/images/home/homeImg.png">
  </div>
  <br/>
  <br/>
</div>
