<br>
<br>

<div style="text-align:center">
  <iframe
    allowtransparency="true"
    frameborder="0" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" scrolling="NO"
    src="https://www.meteoblue.com/en/weather/widget/three?geoloc=detect&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image&location_url=https%3A%2F%2Fwww.meteoblue.com%2Fen%2Fweather%2Fwidget%2Fthree%2Fmount-pearl_canada_6082231&location_mainUrl=https%3A%2F%2Fwww.meteoblue.com%2Fen%2Fweather%2Fforecast%2Fthree%2Fmount-pearl_canada_6082231&nolocation_url=https%3A%2F%2Fwww.meteoblue.com%2Fen%2Fweather%2Fwidget%2Fthree&nolocation_mainUrl=https%3A%2F%2Fwww.meteoblue.com%2Fen%2Fweather%2Fforecast%2Fthree&dailywidth=115&tracking=%3Futm_source%3Dweather_widget%26utm_medium%3Dlinkus%26utm_content%3Dthree%26utm_campaign%3DWeather%252BWidget"
    style="width: 460px;height: 221px"></iframe>
</div>
<br/>
<br/>
<div style="text-align:center;padding:1em 0;">
  <h5 id="profileLink" routerLink="/profile">Here is your restaurant builder,
    and you can access your restaurant page or edit it in profile!</h5>
  <br><br>
  <iframe frameborder="0"
          height="140" seamless
          src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=America%2FToronto"
          width="100%">
  </iframe>
</div>
