<section class="shop-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row shop-login justify-content-center">
                    <div class="col-md-6">
                        <div class="box-content">
                            <h3 class="text-center upper-case">Profile</h3>
                            <br>
                            <form class="logregform" [formGroup]="profileForm" (ngSubmit)="save()">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12">
                                            <label>First Name</label>
                                            <input type="text" formControlName="firstName" class="form-control">
                                            <div class="alert alert-danger" role="alert"
                                                 *ngIf="profileForm.get('firstName').touched && profileForm.get('firstName').hasError('required')">
                                                * Required
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Last Name</label>
                                            <input type="text" formControlName="firstName" class="form-control">
                                            <div class="alert alert-danger" role="alert"
                                                 *ngIf="profileForm.get('lastName').touched && profileForm.get('firstName').hasError('required')">
                                                * Required
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>New Password</label>
                                            <input type="password" formControlName="password" class="form-control">
                                            <div class="alert alert-danger" role="alert"
                                                 *ngIf="profileForm.get('password').touched && profileForm.get('password').hasError('required')">
                                                * Required
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Re-enter New Password</label>
                                            <input type="password" formControlName="passwordConfirm"
                                                   class="form-control">
                                            <div class="alert alert-danger" role="alert"
                                                 *ngIf="profileForm.get('passwordConfirm').touched && profileForm.get('passwordConfirm').hasError('required')">
                                                * Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row formGroupError">
                                    <div class="col-12">
                                        <div class="alert alert-danger" role="alert"
                                             *ngIf="profileForm.hasError('passwordConfirm')">
                                            Password doesn't match, please check
                                        </div>
                                        <div *ngIf="!profileForm.get('password').hasError('required')&&!profileForm.get('passwordConfirm').hasError('required')">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="space20"></div>
                                        <button type="submit" class="btn btn-default pull-right">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
