<!-- Login form content -->
<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="box-content">
              <h3 class="text-center">Profile Update</h3>
              <br>

              <form *ngIf="form" class="logregform" [formGroup]="form" (ngSubmit)="profileSubmit()">
                <div class="row">
                  <div class="form-group">
                    <!-- response error msg -->
                    <!--                    <div *ngIf="response">-->
                    <!--                      <div class="alert alert-danger" *ngIf="!response.success">-->
                    <!--                        Please check your username and password again.-->
                    <!--                      </div>-->
                    <!--                      <div class="alert alert-success" *ngIf="response.success">-->
                    <!--                        Register succeed, please go confirm your email address.-->
                    <!--                      </div>-->
                    <!--                    </div>-->

                    <!-- first name-->
                    <div class="col-md-12">
                      <label>First Name</label>
                      <input type="text" class="form-control"
                             formControlName="firstName">
                      <!-- err msg for firstname-->
                      <div
                        *ngIf="(form.get('firstName').dirty || form.get('firstName').touched) && form.get('firstName').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('firstName').getError('required')">
                          First name is required.
                        </div>
                        <div *ngIf="form.get('firstName').getError('minlength') ||
                      form.get('firstName').getError('minlength')">
                          Fist name's length must between 2 - 20.
                        </div>
                      </div>
                    </div>

                    <!-- last name -->
                    <div class="col-md-12">
                      <label>Last Name</label>
                      <input type="text" class="form-control"
                             formControlName="lastName">
                      <!-- err msg for lastname-->
                      <div
                        *ngIf="(form.get('lastName').dirty || form.get('lastName').touched) && form.get('lastName').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('lastName').getError('required')">
                          Last name is required.
                        </div>
                        <div *ngIf="form.get('lastName').getError('maxlength') ||
                      form.get('lastName').getError('minlength')">
                          Last name's length must between 2 - 20.
                        </div>
                      </div>
                    </div>

                    <!-- address -->
                    <div class="col-md-12">
                      <label>Address</label>
                      <input type="text" class="form-control"
                             formControlName="address">
                      <div
                        *ngIf="(form.get('address').dirty || form.get('address').touched) && form.get('address').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('address').getError('maxlength') ||
                      form.get('address').getError('minlength')">
                          Address' length must between 3 - 40.
                        </div>
                      </div>
                    </div>

                    <!-- phone -->
                    <div class="col-md-12">
                      <label>Phone</label>
                      <input type="number" class="form-control" digitOnly
                             formControlName="phone">
                      <div
                        *ngIf="(form.get('phone').dirty || form.get('phone').touched) && form.get('phone').invalid"
                        class="alert alert-danger">
                        <div *ngIf="form.get('phone').getError('maxlength') ||
                      form.get('phone').getError('minlength')">
                          Phone number must between 7 - 12.
                        </div>
                      </div>
                    </div>
<!--                    TODO: add number validator -->

                    <!-- old password-->
                    <div class="form-group">
                      <div class="col-md-12">
                        <label>Current Password</label>
                        <input type="text" class="form-control"
                               formControlName="password">
                        <!-- err msg for password-->
                        <div
                          *ngIf="form.getError('oldPasswordRequired')"
                          class="alert alert-danger">
                            Old password is required if you want to update password.
                        </div>
                      </div>
                    </div>

                    <!-- new password -->
                    <div class="form-group">
                      <div class="col-md-12">
                        <label>New Password</label>
                        <input type="text" class="form-control"
                               formControlName="newpass">
                        <!-- err msg for new password-->
                        <div
                          *ngIf="(form.get('newpass').dirty || form.get('newpass').touched) && form.get('newpass').invalid"
                          class="alert alert-danger">
                          <div *ngIf="form.get('newpass').getError('minlength') ||
                            form.get('newpass').getError('maxlength')">
                            Password length must between 5 - 20.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="space20"></div>
                    <button type="submit" [disabled]="!form.valid" class="btn btn-default pull-right">Update Profile
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
